workflows/n8n/n8n-workflow-template.json
{
  "name": "ChatbotTemplate",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7d2e1af1-2c97-4c60-9b8b-0acf6d03d5c9",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1120,
        96
      ],
      "id": "6dedf445-accb-4e9e-ae64-7c41e42bd065",
      "name": "Webhook",
      "webhookId": "7d2e1af1-2c97-4c60-9b8b-0acf6d03d5c9"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2ae8da82-3e17-40c6-bab2-29d4e7a01b4c",
              "leftValue": "={{ $json.personId }}",
              "rightValue": "=",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -224,
        96
      ],
      "id": "68655eb1-28fb-4ce3-afa0-98c5d0084301",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n\n  const data = item.json.body;\n\n  // Creating Date object\n  const data = new Date(data.dateTime);\n\n  // Formatting the date\n  const formattedDate =\n    String(data.getDate()).padStart(2, '0') + '/' +\n    String(data.getMonth() + 1).padStart(2, '0') + '/' +\n    data.getFullYear() + ' ' +\n    String(data.getHours()).padStart(2, '0') + ':' +\n    String(data.getMinutes()).padStart(2, '0') + ':' +\n    String(data.getSeconds()).padStart(2, '0');\n\n  item.json = {\n    title: `${data.name} - Chatbot`,\n    name: data.name,\n    organization: data.organization,\n    email: data.email,\n    cnpj: data.cnpj,\n    phone: data.phone,\n    service: data.service,\n    dateTime: data.dateTime\n  };\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        96
      ],
      "id": "3a54c684-cb5b-411e-bac9-c8d992eef962",
      "name": "Data Processing"
    },
    {
      "parameters": {
        "resource": "person",
        "operation": "search",
        "term": "={{ $json.name }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        -672,
        96
      ],
      "id": "0ecdcf3f-7f5a-452c-90f6-6bafb41c304f",
      "name": "Search Person",
      "alwaysOutputData": true,
      "credentials": {
        "pipedriveApi": {
          "id": "wHKYhRkc9aZI4y0O",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// User-provided email\nconst userEmail = $('Data Processing').first().json.email.trim().toLowerCase();\n\nfor (const item of $input.all()) {\n  const personEmail = item.json.primary_email?.trim().toLowerCase();\n\n  if (personEmail && personEmail === userEmail) {\n    return [\n      {\n        json: {\n          personId: item.json.id\n        }\n      }\n    ];\n  }\n}\n\n// No match found\nreturn [\n  {\n    json: {\n      personId: null\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        96
      ],
      "id": "f77444a5-642d-4022-9707-40a48a5b36a4",
      "name": "Compare Emails",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "resource": "person",
        "name": "={{ $('Data Processing').item.json.name }}",
        "additionalFields": {
          "customProperties": {
            "property": [
              {
                "name": "ad300a5054e8b447e2800048918edc91f8d79407",
                "value": "={{ $('Data Processing').item.json.organization }}"
              },
              {
                "name": "84c2a75451ae3eecd895bd496fc8c8b0cd340a2d",
                "value": "={{ $('Data Processing').item.json.cnpj }}"
              },
              {
                "name": "23eff7ab3f5a2e77cbf405ecb7fd50f78248852e",
                "value": "={{ $('Data Processing').item.json.service }}"
              }
            ]
          },
          "email": [
            "={{ $('Data Processing').item.json.email }}"
          ],
          "phone": [
            "={{ $('Data Processing').item.json.phone }}"
          ]
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        0,
        192
      ],
      "id": "777cebff-386e-4a02-86c7-2666db9fcc4e",
      "name": "Create New Contact",
      "credentials": {
        "pipedriveApi": {
          "id": "wHKYhRkc9aZI4y0O",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_token",
              "value": "85371214906fc9a67e4c9c08fc31e7c92d161ef5"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $('Data Processing').item.json.title }}"
            },
            {
              "name": "person_id",
              "value": "={{ $json.personId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        0
      ],
      "id": "9d594266-f22c-4d7d-83c9-945ac2e66f19",
      "name": "New Lead with Existing Person"
    },
    {
      "parameters": {
        "method": "POST",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_token",
              "value": "85371214906fc9a67e4c9c08fc31e7c92d161ef5"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $('Data Processing').item.json.title }}"
            },
            {
              "name": "person_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        192
      ],
      "id": "aae99b47-a9eb-4812-83e4-7047dad1e02d",
      "name": "New Lead with New Person"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Data Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "New Lead with Existing Person",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "92ffec74-934d-4437-b22e-9190158b98ca",
  "meta": {
    "instanceId": "3f780cabeba7ef1ce6f546b290a92c2a534ee50fed9bf9d6150e0ab9d42916c1"
  },
  "id": "VAJuIA0SgR8rZRD4",
  "tags": []
}